@import "../../../assets/mixins/makeGrid.scss";
@import "../../../assets/mixins/flex.scss";
@import "../../../assets/vars/vars.scss";

.Main {
  @include flexColumnGapped(4em);
}
.CardServices {
  @include makeGrid(repeat(4, 1fr), 1em);
}
.CardPosts {
  @include makeGrid(repeat(3, 1fr), 1em);
}
.Facilities {
  background-image: url("../../../assets/img/images/facilities.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $the-lightest;
  padding: 5em 0;
}
.FacilitiesGrid {
  @include makeGrid(repeat(2, 1fr), 2em);
  align-items: center;
}
.FacilitiesText {
  @include flexColumnGapped(1em);
  align-items: flex-start;
}
.FacilitiesBlocks {
  @include makeGrid(repeat(2, 1fr), 1em);
}
.Benefits {
  @include flexColumnGapped(2em);
  align-items: center;
}
.BenefitsGrid {
  @include makeGrid(repeat(3, 1fr), 2.5em);
}
.Benefit {
  display: flex;
}
