@import "../../../assets/mixins/animate.scss";
@import "../../../assets/mixins/fontPoppins.scss";
@import "../../../assets/vars/vars.scss";
@import "../../../assets/mixins/flex.scss";
.Option {
  @include animate;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}
.Active {
  background-color: $primary;
  border: none;
  border-radius: 10px;
  color: $the-lightest;
  flex-shrink: 0;
  @include flexGapped(0.8em);
  align-items: center;
  justify-content: center;
  padding: 0.7em;
  cursor: pointer;
  @include fontPoppins($weight: 700);
  &:hover {
    color: $the-lightest;
  }
}
