@import "../../../assets/vars/vars.scss";
@import "../../../assets/mixins/flex.scss";
@import "../../../assets/mixins/media.scss";
.Header {
  @include flexJustifySpaceBet;
  align-items: center;
}
.Nav {
  display: flex;
}
.NavList {
  @include flexGapped(2em);
  @include _768 {
    display: none;
  }
}
