@import "../../../assets/vars/vars.scss";
@import "../../../assets//mixins/flex.scss";

.Search {
  background-color: $the-lightest;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  @include flexGapped(2em);
  align-items: center;
  color: $the-darkest;
  padding: 0.5em 1em;
  margin-top: 2.5em;
  position: relative;
}
.Location {
  @include flexGapped(1em);
  align-items: center;
}
.Date::before,
.Amount::before {
  content: "";
  width: 1px;
  height: 65%;
  top: 20%;
  display: block;
  position: absolute;
  background-color: $the-darkest;
}
.Gap {
  margin-left: 1.5em;
}
