@import "../../../assets/mixins/makeGrid.scss";
@import "../../../assets/mixins/flex.scss";
@import "../../../assets/mixins/media.scss";

.Main {
  @include flexColumnGapped(3em);
}
.Offers {
  @include flexJustifySpaceBet;
  @include flexGapped(2em);
}
.AboutBlock {
  @include flexJustifySpaceBet;
  @include flexGapped(2em);
  align-items: center;
}
.AboutBlockText {
  @include flexColumnGapped(1em);
}
.AboutPhoto {
  border-radius: 15px;
}
.Teams {
  @include flexColumnGapped(1em);
  margin-bottom: 3em;
  @include _979 {
    margin-bottom: 6em;
  }
}
.Team {
  @include flexJustifySpaceBet;
  @include flexGapped(2em);
}
.Variants {
  display: flex;
  justify-content: space-around;
}
