@import "../../../assets/vars/vars.scss";
@import "../../../assets/mixins/flex.scss";

.Container {
  padding: 1em;
  color: $the-lightest;
  background-image: url("../../../assets/img/images/other-destinations.png");
  min-height: 205px;
  border-radius: 10px;
  line-height: 180%;
  @include flexColumnGapped(1em);
  align-items: flex-start;
  justify-content: space-evenly;
}
