@import "../../../assets/vars/vars.scss";
@import "../../../assets/mixins/flex.scss";
.MainScreen {
  padding: 15% 15%;
  @include flexColumnGapped;
  align-items: center;
  color: $the-lightest;
  text-align: center;
}
