@import "../../../assets/vars/vars.scss";
@import "../../../assets/mixins/makeGrid.scss";
@import "../../../assets/mixins/media.scss";
.Footer {
  background-color: $secondary;
  color: $the-lightest;
  padding: 3em 0;
  p {
    color: $the-lightest;
  }
}
.FooterGrid {
  @include makeGrid(2fr repeat(3, 1fr), 3em);
  @include _768 {
    @include makeGrid(repeat(3, 1fr), 1em);
  }
}
.FooterGrid {
  div:first-child {
    @include _768 {
      display: none;
    }
  }
}
.Title {
  margin-bottom: 1em;
}
.TitleLogo {
  margin-bottom: 0.4em;
}
