@import "../../../assets/mixins/animate.scss";
@import "../../../assets/mixins/makeGrid.scss";
@import "../../../assets/mixins/flex.scss";
.TravelersPoint {
  @include flexJustifySpaceBet;
  @include flexGapped(2em);
  align-items: center;
  padding: 4em 0;
}

.TravelersPointMedia {
  object-fit: cover;
  width: 50%;
}
.TravelersPointText {
  @include flexColumnGapped(1em);
  @include flexJustifySpaceBet;
}
.Points {
  @include makeGrid(repeat(2, 1fr), 1.5em);
}
.Point {
  @include animate;
}
